:root {
  --board-size: 5;
  --game-padding: 80px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.boggle-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(min(100vh, 100vw) - var(--game-padding));
  width: calc(min(100vh, 100vw) - var(--game-padding));
  background-color: blue;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.boggle-board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
  height: 100%;
  width: 100%;
  grid-gap: 10px;
}

.boggle-die {
  border: 1px solid black;
  background: radial-gradient(circle at center, white 75%, #f2f2f2 75%);
  border-radius: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3.5vw + 3.5vh);
  font-weight: bold;
  color: black;
  height: 100%;
  width: 100%;
}